//  files
@import "normalize";
@import "glyphter";
// fonts
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
// colors
$black: rgb(25,25,25);
$grey-font: rgb(153,153,153);
$grey-back: rgb(245,245,242);
$orange-button: rgb(245,130,32);
$blue-manager: #56819f;
// mixins
@mixin headerP {
	margin: 0;
	font-size: 1.5em;
	text-transform: uppercase;
}
@mixin icons {
	
}
* {
	font-family: "Roboto";
}

// Side Menu
.navBar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: $black;
	width: 190px;
	height: 100vh;
	color: $grey-font;
	[class*="nav"] {
		padding: 0 1.5em;
	}
	.navHeader {
		
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			
		}
		.hamburger {
			position: relative;
		}
		.hamburger:before {
			content: "";
			position: absolute;
			top: -0.25em;
			right: 0;
			width: 1.3em;
			height: .15em;
			border-top: 0.450em double $grey-font;
			border-bottom: 0.15em solid $grey-font;
		}
	}
	.navMain {
		padding: 0;
		.dataList {
			list-style: none;
			padding: 0;
			li {
				display: block;
				height: 3em;
				width: inherit;
				margin: 0;
				padding: 0 1.5em;
				a {
					display: flex;
					align-items: center;
					height: inherit;
					width: 100%;
					color: $grey-font;
					text-decoration: none;
					.icon {
						font-family: 'Glyphter';
						margin-right: .5em;
					}
					
				}
				
				
			}
			li:hover {
				background-color: $grey-font;  //TEMPORARY!!!!!!!!!!!
				border-left: 3px solid orange;
				a {
					margin-left: -3px;
					color: #fff;
				} 
			}
		}
	}
	.navActive {
		border-top: 1px solid $grey-font;
		ul {
			list-style: none;
			padding: 0;
			width: 100%;
			p {
				text-transform: uppercase;
			}
			li {
				color: blue;
				.person {
					color: $blue-manager;
				}
			}
		}
	}
}

// header 
header {
	position: fixed;
	background-color: #fff;
	right: 0;
	height: 60px;
	width: 100vw;
	margin-left: 190px;
	border-bottom: 1px solid $grey-font;
	.infoData {
		display: flex;
		justify-content: flex-end;	
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 60px;
			border-left: 1px solid $grey-font;
			.icon {
				font-family: 'Glyphter';
			}
		}
		li:nth-child(even) {
			width: 60px;
		}
		li:nth-child(odd) {
			padding: 0 1.5em;
		}
	}
}
//Main
	main {
		color: $grey-font;
		max-width: 1250px;
		margin-left: 190px;
		padding: 1.5em;
		padding-top: calc(60px + 1.5em);
		background-color: $grey-back;
	// general statistic
		.statistics {
			background: #FFF;
			.headerStat {
				padding: 1.5em;
				p {
					@include headerP;
				}
			}
			.dataStat {
				border-top: 2px solid $grey-back;
				border-bottom: 2px solid $grey-back;
				padding: 2em;
				.form-cal {
					display: flex;
					justify-content: center;
					form {
						display: inline-block;
						border: 2px solid $grey-back;
						padding: .5em;
						#date-form::-webkit-calendar-picker-indicator {
							background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
						}
						#date-form::-webkit-inner-spin-button {
							display: none;
						}
						#date-form {
							border: none;
							border-left: 2px solid $grey-back;
							padding-left: 10px;
						}
						#date-form:first-child {
							border: none;
							background: none !important;
						}
					}
					#date-refresh {
							font-family: 'Glyphter';
							color: #fff;
							margin-left: 15px;
							width: 40px;
							height: 40px;
							border-radius: 3px;
							background-color: #f58220;
							border: none;
						}
				}
			}
			.mainStat {
				height: auto;
				display: flex;
				justify-content: space-around;
				.flex {
					display: flex;
					justify-content: space-around;
					flex-direction: column;
					.flex-center {
						justify-content: center;
					}
					.flex-row {
						display: flex;
						margin: 25px 0;
						.flex-column {
							display: flex;
							width: 30vw;
							justify-content: space-around;
							flex-direction: column;
							.flex-sp-b2 {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								width: 25vw; 
								border-bottom: 2px solid $grey-back;
								p {
									margin-bottom: 2px;
								}
							}
						}
						.chart-box {
							display: inline-flex;
							padding: 0 20px;
							margin-left: 3vw;
							background-color: $grey-back;
							align-items: center;
							.chart-dot {
								height: 15px;
								width: 15px;
								border-radius: 8px;
								display: inline-block;
								margin-right: 10px;
								margin-top: -1px; // albo dostosować do rozmiaru font
							}
							.blue  {
								background-color: blue;
							}
							.green {
								background-color: green;
							}
							.orange {
								background-color: orange;
							}
						}
					}
				}

			}
		}
		.links {
			margin-top: 1.5em;
			background: #FFF;
			.headerLinks{
				padding: 1.5em;
				border-bottom: 2px solid $grey-back;
				p {
					@include headerP;
				}
			}
			.linkContainer {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1.5em;
				button {
					color: #FFF;
					padding: .5em;
					width: 7em;
					background-color: $orange-button;
					border: none;
					border-radius: 5px;
					display: inline-block;
				}
				.linksBox {
					display: flex;
					justify-content: center;
					flex-direction: column;
					margin: 1.5em 0;
					.linkItem {
						display: flex;
						justify-content: space-between;
						align-items: center;
						min-width: 30vw;
						border-bottom: 2px solid $grey-back;
					}
					.linkItem:first-child {
						border-top: 2px solid $grey-back;
					}
				}
			}
		}

	}
































